@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<DotNetApp.Web.ViewModels.CategoryViewModel>

<table class="table">
    <tr>
        <th>CategoryId</th>
        <th>CategoryName</th>
      
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Name
            </td>

        </tr>
    }

</table>

<p>Categories</p>